body
  font-size: 17px

body, h1, h2, h3, h4, a
  font-family: 'Garamond', 'Georgia', serif

h1
  font-size: 240%
h2
  font-size: 180%
h3
  font-size: 120%

.avatar
  margin-top: 40px

.side-bio
  font-size: 0.8em
  margin: 20px 0

ul.writings
  margin-top: 20px
  li
    margin: 0 0 20px -20px
    list-style: none

a
  color: #000
  text-decoration: none
  border-bottom: 1px dotted
