.container
  font-size: 1.3em

h1, h2
  font-weight: 800

h1, h2, h3, h4, h5, h6
  font-face: 'Helvetica Neue', Helvetica, sans-serif

.avatar
  margin-top: 40px

.bio, .writings, .recent_writings, .side-bio, .post
  font-family: 'Libre Baskerville', 'Georgia', serif

.side-bio
  font-size: 0.8em

ul.writings
  margin-top: 20px
  li
    margin: 0 0 20px -20px
    list-style: none

a
  color: purple
  text-decoration: none
  border-bottom: 1px dotted