.bio
  %p.intro Hello,
  %p My name is Neil Middleton.
  %p

    I'm an engineer at
    %a{:href => "http://www.heroku.com", :target => "_blank"} Heroku
    based in the UK.  My work is done with Support Engineering, trying to remove pain
    points for customers and making developer lives easier.
  %p
    I am the author of
    %a{:href => "http://www.amazon.co.uk/gp/product/144934139X/ref=as_li_tf_tl?ie=UTF8&camp=1634&creative=6738&creativeASIN=144934139X&linkCode=as2&tag=neilmidd-21", :target => "_blank"}'Heroku' for O'Reilly.
  %p
    I'm a massive fan of keeping things simple, straight-forward and
    bullshit free.
