- content_for(:page_title, current_page.title)
- wrap_layout(:application) do
  %article
    %header
      %h1= current_page.title
      %p.date
        Posted on
        = current_page.date.strftime("%e %B, %Y")

    = yield
    = partial 'layouts/wip' if current_page.data[:wip]

    #disqus_thread
    :javascript
      var disqus_shortname = 'neilmiddleton'; // required: replace example with your forum shortname

      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
