- content_for(:page_title, current_page.title)
- wrap_layout(:application) do
  %article
    %header
      %p.date
        = current_page.date.strftime("%e %B, %Y")
      %h1= current_page.title

    = yield
    = partial 'layouts/wip' if current_page.data[:wip]

