- content_for(:page_title, current_page.title)
- wrap_layout(:application) do
  %article
    %header
      %h1= current_page.title
      %p.date
        Posted on
        = current_page.date.strftime("%e %B, %Y")

    = yield
    = partial 'layouts/wip' if current_page.data[:wip]

