- contributors = File.new(File.expand_path("./../../contributors", __FILE__),'r')

- content_for(:page_title, "Colophon")
- wrap_layout(:application) do
  %article
    %header
      %h1 Colophon
      %p.date

    :markdown
      There are a number of things at play in the development of this site.  A lot
      of cogs that are constantly in motion to try and bring this page you see to
      your desktop right now.  Therefore, I thought I would talk about how this site
      is put together, both from a personal and technical point of view, as well as
      some other interesting information.

    %h2 Writing and Technical

    :markdown
      All the writing I do is done inside [IA Writer](http://www.iawriter.com), and in
      markdown.  This content is then published via the very good
      [Middleman](http://middlemanapp.com), with a sprinkling of
      [Middleman-blog](https://github.com/middleman/middleman-blog).

      You can review the code that makes up this site
      [here on Github](https://github.com/neilmiddleton/neilmiddleton_com).

      This site is hosted completely on Heroku using a variety of buildpacks.
      Firstly the [Middleman Buildpack](https://github.com/meskyanichi/heroku-buildpack-middleman)
      to generate the website in it's static form, then the
      [NginX buildpack](https://github.com/essh/heroku-buildpack-nginx) so that I
      can host these static files behind a neat web server thus negating the need
      for a ruby process.  In order to acheive this I also had to use the [Multi
      Buildpack](https://github.com/ddollar/heroku-buildpack-multi).  For more
      information, please read about the [composability of buildpacks](/the-composability-of-buildpacks/).

      DNS is provided by [Amazon](http://aws.amazon.com/route53/), mainly because they
      offer [the Apex redirection via S3](https://devcenter.heroku.com/articles/route-53#naked-root-domain).

      Analytics are provided by Google.

    %a{:target => "contributors"}
    %h2 Contributions

    :markdown
        Other people have contributed to this website (via pull requests on Github).
        People are welcome to contribute anything they like, large or small.

        The following people have contributed in the past, so big thanks to them:

    %ul.contributors
    - contributors.sort.each do |line|
      - contrib = line.scan /^(.*) \(@(.*)\)$/
      %li
        = $1
        = link_to "@#{$2}", "http://twitter.com/#{$2}"
